<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BYCYBORROW | Go Green</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Handlee|Nunito" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="js.js"></script>
</head>  

    
<body>
    <div id="theCarousel" class="carousel slide" data-ride="carousel" style="margin:0;">
 
  <!-- Define how many slides to put in the carousel -->
  <ol class="carousel-indicators">
    <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
    <li data-target="#theCarousel" data-slide-to="1"> </li>
    <li data-target ="#theCarousel" data-slide-to="2"> </li>
  </ol >
 
        
  <!-- Define the text to place over the image -->
  <div class="carousel-inner">
    <div class="item active" >
        <div class ="slide1"></div>
            <div class="carousel-caption">
                <h1 >BORROW A CYCLE</h1>
                <p >Borrow a cycle for FREE. Save Fuel Generate Electricity.</p>
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <a href="#aboutus"><button type="button" class="btn btn-success">About Us</button></a>
              <a href="#buy"><button type="button" class="btn btn-success">Buy</button></a>
              <a href="#sell"><button type="button" class="btn btn-success">Sell</button></a>
              <a href="#borrow"><button type="button" class="btn btn-success">Borrow</button></a>
            </div>
            </div>
  </div>
      
  <div class="item">
    <div class="slide2"></div>
        <div class="carousel-caption">
            <h1 >BUY YOUR WHEELS</h1>
            <p>Get your wheels at minimum reseanable rates.</p>
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <a href="#aboutus"><button type="button" class="btn btn-success">About Us</button></a>
              <a href="#buy"><button type="button" class="btn btn-success">Buy</button></a>
              <a href="#sell"><button type="button" class="btn btn-success">Sell</button></a>
              <a href="#borrow"><button type="button" class="btn btn-success">Borrow</button></a>
            </div>
        </div>
  </div>
      
  <div class="item">
    <div class="slide3"></div>
        <div class="carousel-caption">
            <h1 >SELL BICYCLE</h1>
            <p >Sell your wheel and get a great price.</p>
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <a href="#aboutus"><button type="button" class="btn btn-success">About Us</button></a>
              <a href="#buy"><button type="button" class="btn btn-success">Buy</button></a>
              <a href="#sell"><button type="button" class="btn btn-success">Sell</button></a>
              <a href="#borrow"><button type="button" class="btn btn-success">Borrow</button></a>
            </div>
        </div>
    </div>
  </div>
 
  <!-- Set the actions to take when the arrows are clicked -->
      <a class="left carousel-control" href="#theCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"> </span>
      </a>
      <a class="right carousel-control" href="#theCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
    
<!--carousel ends here-->
<!--
    <img src="images/median1.png" style="height:100px; width:100%;">
    
    <div class="container">
        

        <h1>BUY</h1>
        <p> BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU</p>

        <h1>SELL</h1>
        <p>BEECH DE APNI CYCLE BHAI HUM KHAREED LENGE AND PAISE DE DENGE.</p>

        <h1>RENT</h1>
        <p>FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.</p>
    </div>
    
    
    
    
    
    <img src="images/median1.png" style="height:100px; width:100%;">
-->
    <a name="aboutus"></a>
    <div id="aboutus">
        <h1>ABOUT US</h1>
        <p>THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.THIS IS SOMETHING ABOUT US JO ABHI TAK LIKHA NAHI HAI HUMNE.</p>
        
    </div>
    <a name="buy"></a>
    <div id="buy">
        <h1>BUY</h1>
        <p> BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU BHAI KHAREEDLE MAI TERKO MAUKA DE RAHA HU.</p>
        <button class="btn btn-default btn-lg">Buy</button>
    </div>
    
    <a name="sell"></a>
    <div id="sell">
        <h1>SELL</h1>
        <p>BEECH DE APNI CYCLE BHAI HUM KHAREED LENGE AND PAISE DE DENGE.BEECH DE APNI CYCLE BHAI HUM KHAREED LENGE AND PAISE DE DENGE.BEECH DE APNI CYCLE BHAI HUM KHAREED LENGE AND PAISE DE DENGE.BEECH DE APNI CYCLE BHAI HUM KHAREED LENGE AND PAISE DE DENGE.BEECH DE APNI CYCLE BHAI HUM KHAREED LENGE AND PAISE DE DENGE.BEECH DE APNI CYCLE BHAI HUM KHAREED LENGE AND PAISE DE DENGE.</p>
        <button class="btn btn-default btn-lg">Sell</button>
    </div>
    
    <a name="borrow"></a>
    <div id="rent">
        <h1>RENT</h1>
        <p>FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.FREE ME CYCLE MIL RAHI HAI AISH KAR BHAIJAAN.</p>
        <button class="btn btn-default btn-lg">Borrow</button>
    </div>
    
    
    
    <footer>
        <div class="footersocial">
            <ul>
                <a href="#"><li><img src="images/fb.png" title="Facebook"></li></a>
                <a href="#"><li><img src="images/twitter.png" title="Twitter"></li></a>
                <a href="#"><li><img src="images/youtube.png" title="Youtube"></li></a>
            </ul>
        </div>
        <div class="footerlinks">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Buy</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Borrow</a></li>
                <li><a href="#">Donate Us</a></li>
            </ul>
        
        </div>
        <span>COPYRIGHT &copy; 2017 BYCYBORROW - CRAFTED WITH&nbsp;<img src="images/heart.png"id="heart" title="love">&nbsp;&nbsp;--By BYCYBORROW</span>
    
    </footer>
</body>
    